*.glob
CoqEqDec.v.d
*.vo
Makefile.coq
*.d
Makefile~
*.v~
#VectorClocks.v#
*.v#
*.aux
PLDI 2016/main.bbl
*.fdb_latexmk
PLDI 2016/main.fls
PLDI 2016/main.synctex.gz
PLDI 2016/main.pdf
*.log
PLDI 2016/main.blg
PLDI 2016/main.pdf
*.fls
*.out